h3.lotes-title{
    color: white;
}
.card-header{
  font-weight: 600;
}
.lote-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
input#inputWater {
  text-align: center;
}
p {
  text-align: center;
}
.card {
  margin: 20px;
}